/Bisection Method Detailed Note 11 - Copy (1).pdf
/Bisection_Model2.mp4
/Bisection_Model3.mp4
/Bisection_Model4.mp4
/Bisection_Model5.mp4
/Bisection_Model6.mp4
/Bisection_Model7.mp4
/Bisection_Model8.mp4
/downloaded_video.mp4
/Interpolation Methods Summary.html
/Interpolation Methods Summary_files
/Notes and Slides
/PQs
/Textbooks
/__pycache__
/downloaded_video.mp4
/Fourier Transforms VID 2.mp4
/Fourier Transforms VID 3.mp4
/Fourier Transforms.pdf